
.montserrat-global-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.montserrat-input-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-cross {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    color: #929091;
    
}

.container{
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
#title{
    font-size: 3em;
    padding-bottom: 1em;

}
#my{
    color: #5393e8;
}
#dot{

    color: black;
}
.add-button{
    display: flex;
    align-items: center;
    background-color: #8dcd50;
    border: none;
    padding: 0.3em;
    margin-bottom: 3em;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    position: relative;
    left: 25%;
    top:1em;
    cursor: pointer;
}

.add-button:active{
    opacity: 0.8;
}
.add-button span{
    background-color: #8dcd50;
    color: white;
}
#grid-title{
    width: 70vw;
    border-bottom: 1.5px solid #5393e8;
    color: #5393e8;
    font-weight: 300;
}
.grid{
    min-height: 40vh;
    max-width: 70%;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}
.grid-item{
    height: 15em;
    border: 1px solid black;
    position: relative;
    cursor: pointer;


}
.single-msg-container{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-img{
    width: 100%;
    height: 100%;
}
.remove-span{
    position: absolute;
    background-color: rgba(27, 26, 26, 0.39);
    color: #f6f6f6;
    right: 0;
    bottom: 0;
    visibility: hidden;
}
.grid-item:hover .remove-span{
    visibility: visible;
    cursor: pointer;
}
.grid-item:hover .remove-span:active{
    background-color: rgba(27, 26, 26, 0.703);;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.modal {
    display: flex;
    top: 30%;
    padding: 2em 0 2em 0;
    border-radius: 8px;
    left: 25%;
    position: absolute;
    justify-content: center;
    width: 50vw;
    background-color: white;
    z-index: 2;
}
.hidden{
    display: none;
}
form{
    background-color: white;
    display: flex;
}
.form-row{
    background-color: white;
}
.flex-col{
    flex-basis: 10em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: black;  
}
h3, label{
    background-color: white;
    color: black;
}

input{
    background-color: white;
    border: none;
    min-width: 14em;
    border-bottom: 1px solid #929091;
    color: black;
}
#checkbox{
    flex-basis: 2em;
    display: inline;
}
input:focus{
    outline: none;
}

form .add-button {
    align-self: self-end;
}

.cross{
    position: absolute;
    top:1em;
    right: 1em;
    color: black;
    background-color: white;
    cursor: pointer;
}
#info-card{
    width: 30%;
    margin-left: 10%;

}
#info-card p {
        color: black;
    background-color: white;
}

footer{
    display: flex;
    justify-content: center;
    
}